@import "@govtechmy/myds-style/color.css";
@import "@govtechmy/myds-style/light.css";
@import "@govtechmy/myds-style/dark.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    @apply font-heading;
  }

  h1 {
    @apply text-heading-sm md:text-heading-md font-semibold;
  }
  h2 {
    @apply text-heading-xs md:text-heading-sm font-semibold;
  }

  p,
  span {
    @apply text-txt-black-700;
  }

  html {
    @apply scroll-smooth;
  }

  /** Need to do this because fumadocs preset is overriding custom breakpoints. For: navbar, footer */
  .max-w-container {
    @apply !max-w-screen-xl xl:!px-0;
  }
  .container {
    @apply !max-w-screen-xl xl:!px-0;
  }

  td {
    @apply !align-middle;
  }
  .light .img-dark {
    display: none;
  }

  /* If data-theme="dark", show dark image and hide light image */
  .dark .img-light {
    display: none;
  }

  .reset-style {
    @apply !my-0 text-inherit;
  }

  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }

  code .add {
    @apply bg-bg-success-100;
  }

  code .remove {
    @apply bg-bg-danger-100;
  }
}

@layer utilities {
  .icon-custom-grid-cols {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 16px;
  }

  @media (min-width: 320px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 460px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 640px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  @media (min-width: 960px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  @media (min-width: 1024px) {
    .icon-custom-grid-cols {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    .icon-custom-grid-cols {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
  }
}
