@import "@myds/tailwindcss/color.css";
@import "@myds/tailwindcss/light.css";
@import "@myds/tailwindcss/dark.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    @apply font-heading;
  }

  h1 {
    @apply text-heading-sm md:text-heading-md font-semibold;
  }
  h2 {
    @apply text-heading-xs md:text-heading-sm font-semibold;
  }

  p,
  span {
    @apply text-txt-black-700;
  }
}
