* {
  --_white: 255 255 255;
  --_black: 0 0 0;
  --_gray-50: 250 250 250;
  --_gray-100: 244 244 245;
  --_gray-200: 228 228 231;
  --_gray-300: 212 212 216;
  --_gray-400: 161 161 170;
  --_gray-500: 107 107 116;
  --_gray-600: 82 82 91;
  --_gray-700: 63 63 70;
  --_gray-800: 39 39 42;
  --_gray-850: 29 29 33;
  --_gray-900: 24 24 27;
  --_gray-930: 22 22 25;
  --_gray-950: 9 9 11;

  --_primary-50: 239 246 255;
  --_primary-100: 219 234 254;
  --_primary-200: 194 213 255;
  --_primary-300: 150 183 255;
  --_primary-400: 99 148 255;
  --_primary-500: 58 117 246;
  --_primary-600: 37 99 235;
  --_primary-700: 29 78 216;
  --_primary-800: 30 64 175;
  --_primary-900: 30 58 138;
  --_primary-950: 23 37 84;

  --_danger-50: 254 242 242;
  --_danger-100: 254 226 226;
  --_danger-200: 254 202 202;
  --_danger-300: 252 165 165;
  --_danger-400: 248 113 113;
  --_danger-500: 239 68 68;
  --_danger-600: 220 38 38;
  --_danger-700: 185 28 28;
  --_danger-800: 153 27 27;
  --_danger-900: 127 29 29;
  --_danger-950: 69 10 10;

  --_success-50: 240 253 244;
  --_success-100: 220 252 231;
  --_success-200: 187 247 208;
  --_success-300: 131 218 163;
  --_success-400: 74 222 128;
  --_success-500: 34 197 94;
  --_success-600: 22 163 74;
  --_success-700: 21 128 61;
  --_success-800: 22 101 52;
  --_success-900: 20 83 45;
  --_success-950: 5 46 22;

  --_warning-50: 254 252 232;
  --_warning-100: 254 249 195;
  --_warning-200: 254 240 138;
  --_warning-300: 253 224 71;
  --_warning-400: 250 204 21;
  --_warning-500: 234 179 8;
  --_warning-600: 202 138 4;
  --_warning-700: 161 98 7;
  --_warning-800: 133 77 14;
  --_warning-900: 113 63 18;
  --_warning-950: 66 32 6;

  --_accent_light: 182 88 47;
  --_accent_dark: 220 151 121;
}
