.dark {
  /* bg - White */
  --bg-white: var(--_gray-900);
  --bg-white-hover: var(--_gray-800);
  --bg-white-disabled: var(--_gray-800) / 0.4;

  /* bg - Washed */
  --bg-washed: var(--_gray-850);
  --bg-washed-active: var(--_gray-800);
  --bg-contrast: var(--_gray-930);

  /* bg - Dialog */
  --bg-dialog: var(--_gray-850);
  --bg-dialog-active: var(--_gray-800);

  /* bg - Black */
  --bg-black-50: var(--_gray-950);
  --bg-black-100: var(--_gray-900);
  --bg-black-200: var(--_gray-800);
  --bg-black-300: var(--_gray-700);
  --bg-black-400: var(--_gray-600);
  --bg-black-500: var(--_gray-500);
  --bg-black-600: var(--_gray-400);
  --bg-black-700: var(--_gray-300);
  --bg-black-800: var(--_gray-200);
  --bg-black-900: var(--_white);
  --bg-black-950: var(--_white);
  --bg-black-disabled: var(--_white) / 0.4;

  /* Background - Gray */
  --bg-gray-50: var(--_gray-930);

  /* bg - Primary */
  --bg-primary-50: var(--_primary-950);
  --bg-primary-100: var(--_primary-900);
  --bg-primary-200: var(--_primary-800);
  --bg-primary-300: var(--_primary-700);
  --bg-primary-400: var(--_primary-600);
  --bg-primary-500: var(--_primary-500);
  --bg-primary-600: var(--_primary-400);
  --bg-primary-700: var(--_primary-300);
  --bg-primary-800: var(--_primary-200);
  --bg-primary-900: var(--_primary-100);
  --bg-primary-950: var(--_primary-50);
  --bg-primary-disabled: var(--_primary-950);

  /* bg - Danger */
  --bg-danger-50: var(--_danger-950);
  --bg-danger-100: var(--_danger-900);
  --bg-danger-200: var(--_danger-800);
  --bg-danger-300: var(--_danger-700);
  --bg-danger-400: var(--_danger-600);
  --bg-danger-500: var(--_danger-500);
  --bg-danger-600: var(--_danger-400);
  --bg-danger-700: var(--_danger-300);
  --bg-danger-800: var(--_danger-200);
  --bg-danger-900: var(--_danger-100);
  --bg-danger-950: var(--_danger-50);
  --bg-danger-disabled: var(--_danger-950);

  /* bg - Success */
  --bg-success-50: var(--_success-950);
  --bg-success-100: var(--_success-900);
  --bg-success-200: var(--_success-800);
  --bg-success-300: var(--_success-700);
  --bg-success-400: var(--_success-600);
  --bg-success-500: var(--_success-500);
  --bg-success-600: var(--_success-400);
  --bg-success-700: var(--_success-300);
  --bg-success-800: var(--_success-200);
  --bg-success-900: var(--_success-100);
  --bg-success-950: var(--_success-50);
  --bg-success-disabled: var(--_success-950);

  /* bg - Warning */
  --bg-warning-50: var(--_warning-950);
  --bg-warning-100: var(--_warning-900);
  --bg-warning-200: var(--_warning-800);
  --bg-warning-300: var(--_warning-700);
  --bg-warning-400: var(--_warning-600);
  --bg-warning-500: var(--_warning-500);
  --bg-warning-600: var(--_warning-400);
  --bg-warning-700: var(--_warning-300);
  --bg-warning-800: var(--_warning-200);
  --bg-warning-900: var(--_warning-100);
  --bg-warning-950: var(--_warning-50);
  --bg-warning-disabled: var(--_warning-950);

  /* Text - White */
  --txt-white: var(--_gray-900);
  --txt-white-disabled: var(--_gray-900) / 0.4;

  /* Text - Black */
  --txt-black-900: var(--_white);
  --txt-black-700: var(--_gray-300);
  --txt-black-500: var(--_gray-400);
  --txt-black-disabled: var(--_gray-400) / 0.4;

  /* Text - Primary */
  --txt-primary: var(--_primary-400);
  --txt-primary-disabled: var(--_primary-400) / 0.4;

  /* Text - Danger */
  --txt-danger: var(--_danger-400);
  --txt-danger-disabled: var(--_danger-400) / 0.4;

  /* Text - Success */
  --txt-success: var(--_success-500);
  --txt-success-disabled: var(--_success-500) / 0.4;

  /* Text - Warning */
  --txt-warning: var(--_warning-500);
  --txt-warning-disabled: var(--_warning-500) / 0.4;

  /* Outline - Divider */
  --otl-divider: var(--_gray-850);
  --otl-gray-200: var(--_gray-800);
  --otl-gray-300: var(--_gray-700);
  /* --otl-gray-600-20: var(--_gray-600) / 0.2; */

  /* Outline - Primary */
  --otl-primary-disabled: var(--_primary-800) / 0.4;
  --otl-primary-200: var(--_primary-800);
  --otl-primary-300: var(--_primary-700);
  /* --otl-primary-600-20: var(--_primary-600) / 0.2; */

  /* Outline - Danger */
  --otl-danger-disabled: var(--_danger-800) / 0.4;
  --otl-danger-200: var(--_danger-800);
  --otl-danger-300: var(--_danger-700);
  /* --otl-danger-600-20: var(--_danger-600) / 0.2; */

  /* Outline - Success */
  --otl-success-disabled: var(--_success-800) / 0.4;
  --otl-success-200: var(--_success-800);
  --otl-success-300: var(--_success-700);
  /* --otl-success-700-20: var(--_success-700) / 0.2; */

  /* Outline - Warning */
  --otl-warning-disabled: var(--_warning-800) / 0.4;
  --otl-warning-200: var(--_warning-800);
  --otl-warning-300: var(--_danger-700);
  /* --otl-warning-700-20: var(--_warning-700) / 0.2; */

  /* Ring - Primary */
  --fr-primary: var(--_primary-700) / 0.4;

  /* Ring - Danger */
  --fr-danger: var(--_danger-700) / 0.4;

}
