@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-900: 21.03% 0.006 285.89; /* #18181B Zinc 900 */
    --black-800: 27.39% 0.005 286.03; /* #27272A Zinc 800 */
    --black-700: 37.03% 0.012 285.81; /* #3F3F46 Zinc 700 */
    --base-white: 100% 0 0; /* #FFFFFF White */
    --dim-500: 55.17% 0.014 285.94; /* #71717A Zinc 500 */
    --outline-400: 71.18% 0.013 286.07; /* #A1A1AA Zinc 400 */
    --outline-300: 87.11% 0.005 286.29; /* #D4D4D8 Zinc 300 */
    --outline-200: 91.97% 0.004 286.32; /* #E4E4E7 Zinc 200 */
    --washed-100: 96.74% 0.001 286.38; /* #F4F4F5 Zinc 100 */
    --background-50: 98.51% 0 0; /* #FAFAFA Zinc 50 */

    --brand-600: 54.61% 0.215 262.88; /* #2563EB Blue 600 */
    --brand-700: 48.82% 0.217 264.38; /* #1D4ED8 Blue 700 */
    --brand-300: 78.27% 0.11 265.07; /* #96B7FF */
    --brand-200: 87.26% 0.062 265.96; /* #C2D5FF */
    --brand-50: 97.05% 0.014 254.6; /* #EFF6FF Blue 50 */

    --success-300: 81.86% 0.115 155.16; /* #83DAA3 */
    --success-200: 92.5% 0.081 155.99; /* #BBF7D0 Green 200 */
    --success-50: 98.19% 0.018 155.83; /* #F0FDF4 Green 50 */

    --tag-300: 58.21% 0.139 42.2; /* #BD5A30 */
  }

  .dark {
    --black-900: 100% 0 0; /* #FFFFFF White */
    --black-800: 96.74% 0.001 286.38; /* #F4F4F5 Zinc 100 */
    --black-700: 87.11% 0.005 286.29; /* #D4D4D8 Zinc 300 */
    --base-white: 21.03% 0.006 285.89; /* #18181B Zinc 900 */
    --dim-500: 71.18% 0.013 286.07; /* #A1A1AA Zinc 400 */
    --outline-400: 44.19% 0.015 285.79; /* #52525B Zinc 600 */
    --outline-300: 37.03% 0.012 285.81; /* #3F3F46 Zinc 700 */
    --outline-200: 27.39% 0.005 286.03; /* #27272A Zinc 800 */
    --washed-100: 23.24% 0.008 285.79; /* #1D1D21 */
    --background-50: 20.15% 0.006 285.86; /* #161619 */

    --brand-600: 54.61% 0.215 262.88; /* #2563EB Blue 600 */
    --brand-700: 65.63% 0.175 263.82; /* #588BFB */
    --brand-300: 42.44% 0.181 265.64; /* #1E40AF Blue 800 */
    --brand-200: 37.91% 0.138 265.52; /* #1E3A8A Blue 900 */
    --brand-50: 21.97% 0.06 268.56; /* #0F1836 */

    --success-300: 44.79% 0.108 151.33; /* #166534 Green 800 */
    --success-200: 39.25% 0.09 152.54; /* #14532D Green 900 */
    --success-50: 26.64% 0.063 152.93; /* #052E16 Green 950 */
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :focus:not(:focus-visible) {
    @apply outline-none;
  }

  body {
    @apply bg-background text-black-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
